.hide{
    display: none;
}

.car, .enemy{
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: #c568ed;
    font-size: 1.7rem;
    line-height: 112px;
    text-align: center;
    vertical-align: middle;
    background-image: url("car.png");
    background-size: cover;
}

.gameArea{
    background-color: black;
    width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.score{
    background-color: black;
    text-align: center;
    height: 60px;
    margin: auto;
    color: white; 
    font-size: 1.5rem;
    font-family: fantasy;
}

.line{
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 195px;
    background-color: white;
}

.startScreen{
    /* position: absolute; */
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin: auto;
    width: 300px;
}
