.hide{
    display: none;
}

.car{
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: blue;
}

.gameArea{
    background-color: black;
    width: 250px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.line{
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 130px;
    background-color: white;
}
